$color-azul:#0C5CED;
$color-celeste:#0C9EF7;
$color-celeste-claro:#00C6E0;
$color-amarillo:#FAB416;
$color-naranja:#F07D00;


.contacto__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-image: url(../media/social-media-1795578_1920.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 99vw;

    

    .contacto__main--info {
        width: 100vw;
        height: 80vh;
        color: white;
        padding: 2rem;
        background-color: rgba(54, 49, 49, 0.616);

        .info__h3 {
            font-size: 2.5rem;
            text-align: center;
            
        }

        .info__h4 {
            font-size: 2.5rem;
            text-align: center;
            border-bottom: 3px solid $color-azul;
        }

        .info__h5 {
            font-size: 2rem;
            color:white;
        }

        .info__enlace {
            font-size: 1.5rem;
            color: white;
        }

        .contacto__redes {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 2rem;
            padding-bottom: 2rem;
            background-color: rgba(54, 49, 49, 0.876);
            border-radius: 2rem;
            
            

            

        .info__h5--redes {
            color: $color-azul;
            font-size: 2.2rem;
            margin-bottom: 1rem;
            
        }

        .info__enlace {
            font-size: 1.2rem;
            color: white;
            text-decoration: none;
        }

        .redes--logos {
            display: flex;
            flex-direction:row;
        }

        .redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 45px;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 45px;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 45px;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size: 45px;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        }

        
    }

}

.section__contacto {
    .section__contacto__iframe {
        width: 95vw;
        margin:1rem 0 0 1.5rem;
    }
}

// phone portrait (iphone 5 o SE)
@media (max-width: 320px) {

    html {
        font-size: 10px;
    
    }

    .contacto__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-image: url(../media/social-media-1795578_1920.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    

    .contacto__main--info {
        width: 100vw;
        height: 100vh;
        color: white;
        padding: 0;
        background-color: rgba(54, 49, 49, 0.616);

        .info__h3 {
            font-size: 2rem;
            text-align: center;
            margin: 2rem 0 1rem 0;
            padding: 0 2rem;
        }

        .info__h4 {
            font-size: 2rem;
            text-align: center;
            border-bottom: none;
            margin:0 0 2rem 0;
            padding: 0 2rem;
        }

        .info__h5 {
            font-size: 2rem;
            color:white;
            padding: 0 2rem;
        }

        .info__enlace {
            font-size: 1.5rem;
            color: white;
            margin: 0 0 2rem 0;
            padding: 0 3rem;
        }

        .contacto__redes {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5rem 0 0 3rem;
            padding-bottom: 2rem;
            background-color: rgba(54, 49, 49, 0.876);
            border-radius: 2rem;
            width: 80vw;
            
            

            

        .info__h5--redes {
            color: $color-azul;
            font-size: 2.2rem;
            margin-bottom: 1rem;
            
        }

        .info__enlace {
            font-size: 1.2rem;
            color: white;
            text-decoration: none;
        }

        .redes--logos {
            display: flex;
            flex-direction:row;
            margin-left: 3rem;
        }

        .redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 3rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 3rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 3rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size:3rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        }

        
    }

    }

    .section__contacto {
        .section__contacto__iframe {
            width: 100vw;
            margin:0;
            height: 50vh;
        }
    }
}


// Phone landscape + portrait (iphone x)
@media (min-width: 321px) and (max-width: 480px) {

    html {
        font-size: 10px;
    
    }

    .contacto__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-image: url(../media/social-media-1795578_1920.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    

    .contacto__main--info {
        width: 100vw;
        height: 100vh;
        color: white;
        padding: 0;
        background-color: rgba(54, 49, 49, 0.616);

        .info__h3 {
            font-size: 2.5rem;
            text-align: center;
            margin: 4rem 0 1rem 0;
            padding: 0 2rem;
        }

        .info__h4 {
            font-size: 2.5rem;
            text-align: center;
            border-bottom: none;
            margin:2rem 0 4rem 0;
            padding: 0 2rem;
        }

        .info__h5 {
            font-size: 2.5rem;
            color:white;
            padding: 0 2rem;
        }

        .info__enlace {
            font-size: 2rem;
            color: white;
            margin: 0 0 2rem 0;
            padding: 0 3rem;
        }

        .contacto__redes {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5rem 0 0 3rem;
            padding-bottom: 2rem;
            background-color: rgba(54, 49, 49, 0.876);
            border-radius: 2rem;
            width: 85vw;
            height: 20vh;
            
            

            

        .info__h5--redes {
            color: $color-azul;
            font-size: 3rem;
            margin: 2rem 0 1rem 0;
            
        }

        .info__enlace {
            font-size: 1.2rem;
            color: white;
            text-decoration: none;
        }

        .redes--logos {
            display: flex;
            flex-direction:row;
            margin: 2rem 0 0 3rem;
        }

        .redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 4rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 4rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 4rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size:4rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        }

        
    }

    }

    .section__contacto {
        .section__contacto__iframe {
            width: 100vw;
            margin:0;
            height: 50vh;
        }
    }
}

// Small tablet portrait con aprox 800 de Height
@media (min-width: 481px) and (max-width: 600px)  {
    
    html {
        font-size: 11px;
    
    }

    .contacto__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-image: url(../media/social-media-1795578_1920.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    

    .contacto__main--info {
        width: 100vw;
        height: 100vh;
        color: white;
        padding: 0;
        background-color: rgba(54, 49, 49, 0.616);

        .info__h3 {
            font-size: 2.5rem;
            text-align: center;
            margin: 4rem 0 1rem 0;
            padding: 0 2rem;
        }

        .info__h4 {
            font-size: 2.5rem;
            text-align: center;
            border-bottom: none;
            margin:2rem 0 4rem 0;
            padding: 0 2rem;
        }

        .info__h5 {
            font-size: 2.5rem;
            color:white;
            padding: 0 2rem;
        }

        .info__enlace {
            font-size: 2rem;
            color: white;
            margin: 0 0 2rem 0;
            padding: 0 3rem;
        }

        .contacto__redes {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5rem 0 0 3rem;
            padding-bottom: 2rem;
            background-color: rgba(54, 49, 49, 0.876);
            border-radius: 2rem;
            width: 85vw;
            height: 20vh;
            
            

            

        .info__h5--redes {
            color: $color-azul;
            font-size: 3rem;
            margin: 2rem 0 1rem 0;
            
        }

        .info__enlace {
            font-size: 1.2rem;
            color: white;
            text-decoration: none;
        }

        .redes--logos {
            display: flex;
            flex-direction:row;
            margin: 2rem 0 0 3rem;
        }

        .redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 4rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 4rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 4rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size:4rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        }

        
    }

    }

    .section__contacto {
        .section__contacto__iframe {
            width: 100vw;
            margin:0;
            height: 50vh;
        }
    }

}

// Large tablet portrait (ipad con 1024 de H)
@media (min-width: 601px) and (max-width: 768px)  {
    html {
        font-size: 15px;
    
    }

    .contacto__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-image: url(../media/social-media-1795578_1920.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    

    .contacto__main--info {
        width: 100vw;
        height: 100vh;
        color: white;
        padding: 0;
        background-color: rgba(54, 49, 49, 0.616);

        .info__h3 {
            font-size: 2.5rem;
            text-align: center;
            margin: 4rem 0 1rem 0;
            padding: 0 2rem;
        }

        .info__h4 {
            font-size: 2.5rem;
            text-align: center;
            border-bottom: none;
            margin:2rem 0 4rem 0;
            padding: 0 2rem;
        }

        .info__h5 {
            font-size: 2.5rem;
            color:white;
            padding: 0 2rem;
        }

        .info__enlace {
            font-size: 2rem;
            color: white;
            margin: 0 0 2rem 0;
            padding: 0 3rem;
        }

        .contacto__redes {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5rem 0 0 3rem;
            padding-bottom: 2rem;
            background-color: rgba(54, 49, 49, 0.876);
            border-radius: 2rem;
            width: 85vw;
            height: 20vh;
            
            

            

        .info__h5--redes {
            color: $color-azul;
            font-size: 3rem;
            margin: 2rem 0 1rem 0;
            
        }

        .info__enlace {
            font-size: 1.2rem;
            color: white;
            text-decoration: none;
        }

        .redes--logos {
            display: flex;
            flex-direction:row;
            margin: 2rem 0 0 3rem;
        }

        .redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 4rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 4rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 4rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size:4rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        }

        
    }

    }

    .section__contacto {
        .section__contacto__iframe {
            width: 100vw;
            margin:0;
            height: 50vh;
        }
    }

}

// Tablet Landscape and XL tablet portrait (ipad pro con aprox 1366 de H)
@media (min-width: 769px) and (max-width: 1024px)  {
    html {
        font-size: 20px;
    
    }

    .contacto__main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    background-image: url(../media/social-media-1795578_1920.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;

    

    .contacto__main--info {
        width: 100vw;
        height: 100vh;
        color: white;
        padding: 0;
        background-color: rgba(54, 49, 49, 0.616);

        .info__h3 {
            font-size: 2.5rem;
            text-align: center;
            margin: 4rem 0 1rem 0;
            padding: 0 2rem;
        }

        .info__h4 {
            font-size: 2.5rem;
            text-align: center;
            border-bottom: none;
            margin:2rem 0 4rem 0;
            padding: 0 2rem;
        }

        .info__h5 {
            font-size: 2.5rem;
            color:white;
            padding: 0 2rem;
        }

        .info__enlace {
            font-size: 2rem;
            color: white;
            margin: 0 0 2rem 0;
            padding: 0 3rem;
        }

        .contacto__redes {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 5rem 0 0 3rem;
            padding-bottom: 2rem;
            background-color: rgba(54, 49, 49, 0.876);
            border-radius: 2rem;
            width: 85vw;
            height: 20vh;
            
            

            

        .info__h5--redes {
            color: $color-azul;
            font-size: 3rem;
            margin: 2rem 0 1rem 0;
            
        }

        .info__enlace {
            font-size: 1.2rem;
            color: white;
            text-decoration: none;
        }

        .redes--logos {
            display: flex;
            flex-direction:row;
            margin: 2rem 0 0 3rem;
        }

        .redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 4rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 4rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 4rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size:4rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        }

        
    }

    }

    .section__contacto {
        .section__contacto__iframe {
            width: 100vw;
            margin:0;
            height: 50vh;
        }
    }

}