* {
    margin: 0;
    padding: 0;
}

$fuente-metro:'Metrophobic', sans-serif;
$fuente-cairo:'Cairo', sans-serif;
$fuente-resto:'Telex', sans-serif;
$colorcajas: #F9CDAD;
$colortexto: white;
$colortexto: #121212;
$color-azul:#083892;
$color-celeste:#0C9EF7;
$color-celeste-claro:#00C6E0;
$color-amarillo:#FAB416;
$color-naranja:#F07D00;

body {
    background-color: #a2cbdb
;
}

h1 {
    font-family: $fuente-metro;
}

h2, h3, h4, h5, h6 {
    font-family: $fuente-cairo;
}

p, a, li, td {
    font-family: $fuente-resto;
}

a {
    text-decoration: none;
    // color: black;
}

.header {
    background-color: #048ABF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      

        .header__titulo {
        font-size: 40px;
        align-self: center;
        margin: 50px 0 30px 0;
        height: 15vh;
        }


        .nav {
    background-color: #121212;
    height: 10vh;
    color: white; 
    width: 100%;
    // position: fixed;

        .nav__container {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;


            .nav__logo {
            font-size: 1.5em;
            }

            .nav__label, .nav__input {
            display: none;
            }

            .nav__input:checked + .nav__menu{
	            background: tomato;
            }

            .nav__menu {
                display: grid;
                grid-auto-flow: column;
                gap: 3em;

                .nav__item {
                    color: white;
                    text-decoration: none;
                    --clippy: polygon(0 1%, 0 0, 0 100%, 0 100%);
                }

                .nav__item:after {
                    content: "";
                    display: block;
                    background: white;
                    width: 90%;
                    margin-top: 3px;
                    height: 3px;
                    clip-path: var(--clippy);
                    transition: clip-path .5s;
                }

                .nav__item:hover {
                    --clippy: polygon(0 1%, 100% 0, 100% 100%, 0 100%);
                }
            }
        }
    }

        .header__nav {
            .nav__div {
                overflow: hidden;
                background-color: #012840;
                display: flex;
                box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .6);
                align-items: center;
                justify-content: center;
            }

            .nav__div__enlace {
                display: inline-block;
                font-size: 14px;
                text-align: center;
                color: rgb(255, 255, 255);
                text-decoration: none;
                padding: 5px;
            }

            .nav__div__enlace:hover {
                background-color:#01a098 ;
                border-radius: 5px;
                color: black;
            }

            .nav__div__submenu {
                display: inline-block;
            }

            .nav__div__submenu--boton {
                font-size: 14px;
                border: none;
                outline:none;
                color: rgb(134, 57, 57);
                padding: 5px;
                background-color:#012840;
            }

            .nav__div__submenu--contenido {
                display: none;
                position: absolute;
                }

            .nav__div__submenu--contenido a {
                text-decoration: none;
                background-color: #012840;
                color: #fff1da;
                border: black solid 1px;
            }

            .nav__div__submenu:hover .nav__div__submenu--contenido {
                display: block;
            }
        }

        .header__fondo {
            background-image:url(../media/boysLearning-min.jpg);
            background-size: cover;
            background-position: center center;
            height: 70vh;
            box-shadow:0px 9px 5px 0px rgba(0,0,0,0.75);
            -webkit-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 9px 5px 0px rgba(0,0,0,0.75);
        }
}

.footer {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer__contacto {
        display: flex;
        flex-direction: column;
        margin: 3rem 0 0 3rem;
        color: white;

        .footer__contacto--titulo {
            margin: 0 0 20px 0;
            font-size: 1.5rem;
            color: $color-azul;
        }

        .footer__contacto--lista {
            list-style-type:none;
        }

        .footer__contacto--li {
            margin: 15px 0 0 0;
        }

        .footer__contacto--enlace {
            text-decoration: none;
            color: white;
        }
    }

    .footer__redes {
        display: flex;
        flex-direction:column;
        margin: 50px 50px 0 0;
        align-items: center;
        
        color: rgb(255, 255, 255);

        .footer__redes--parrafo {
            margin: 3rem 0 3rem 0;
        }

        .footer__redes--logos {
            display: flex;
            flex-direction:row;
        }

        .footer__redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 40px;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 40px;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 40px;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size: 40px;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        
    }

    .footer__logo {
        display: flex;
        flex-direction:column;
        align-self: center;
        
    }

    .footer__logo--img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 1024px) { 
    .header {
    background-color: #048ABF;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      

        .header__titulo {
        font-size: 40px;
        align-self: center;
        margin: 100px 80px 0 0;
        }
    }





.footer {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .footer__contacto {
        display: flex;
        flex-direction: column;
        margin: 3rem 0 0 3rem;
        color: white;

        .footer__contacto--titulo {
            margin: 0 0 20px 0;
            font-size: 3rem;
            color: $color-azul;
        }

        .footer__contacto--lista {
            list-style-type:none;
        }

        .footer__contacto--li {
            margin: 15px 0 0 0;
        }

        .footer__contacto--enlace {
            text-decoration: none;
            color: white;
        }
    }

    .footer__redes {
        display: flex;
        flex-direction:column;
        margin: 50px 0 0 50px;
        align-items: center;
        
        color: rgb(255, 255, 255);

        .footer__redes--parrafo {
            margin: 3rem 0 3rem 0;
        }

        .footer__redes--logos {
            display: flex;
            flex-direction:row;
            margin: 0 0 5rem 0;
        }

        .footer__redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 40px;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 40px;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 40px;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size: 40px;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        
    }

    .footer__logo {
        display: none;
        
    }

    .footer__logo--img {
        width: 300px;
        height: 300px;
    }
}
    
}