* {
    margin: 0;
    padding: 0;
}

$fuente-metro:'Metrophobic', sans-serif;
$fuente-cairo:'Cairo', sans-serif;
$fuente-resto:'Telex', sans-serif;
$colorcajas: #F9CDAD;
$colortexto: white;
$colortexto: #121212;
$color-azul:#083892;
$color-celeste:#0C9EF7;
$color-celeste-claro:#00C6E0;
$color-amarillo:#FAB416;
$color-naranja:#F07D00;

body {
    background-color: #a2cbdb
;
}

h1 {
    font-family: $fuente-metro;
}

h2, h3, h4, h5, h6 {
    font-family: $fuente-cairo;
}

p, a, li, td {
    font-family: $fuente-resto;
}

a {
    text-decoration: none;
    // color: black;
}



.nav {
    background-color: #293241;
    height: 80px;
    color: white; 
}

.nav__container {

        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
}


.nav__logo__div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__img__logo {
    width: 10rem;
    margin-top: 1.7rem;
}

.nav__logo {
            font-size: 1.5em;
            font-weight: 900;
        }


.nav__menu {
            display: grid;
            grid-auto-flow: column;
            gap: 3em;}

.nav__item {
                color: white;
                text-decoration: none;
                --clippy: polygon(0 1%, 0 0, 0 100%, 0 100%);
            }


.nav__item:after {
                    content: "";
                    display: block;
                    background: white;
                    width: 90%;
                    margin-top: 3px;
                    height: 3px;
                    clip-path: var(--clippy);
                    transition: clip-path .5s;
                }

.nav__item:hover {
    --clippy: polygon(0 1%, 100% 0, 100% 100%, 0 100%);

                }

.nav__input:checked + .nav__menu{
	background: $color-azul;
}

.nav__label, .nav__input {
            display: none;
    
        }



.header {
    background-color: $color-azul;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      

        .contenedor__h1 {
            background-color: #a2cbdb88;
            align-self: center;
            height: 20vh;
            display: flex;
            border-top-right-radius: 60px;
            border-bottom-right-radius: 60px;
        }

        .header__titulo {
        font-size: 3rem;
        align-self: center;
        align-self: center;
        padding: 0 2rem;
        }

        .header__fondo {
            background-image: url(../media/boysLearning-min.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            height: 90vh;
            display: flex;
        }

        
}

.footer {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .footer__contacto {
        display: flex;
        flex-direction: column;
        margin: 3rem 0 0 3rem;
        color: white;

        .footer__contacto--titulo {
            margin: 0 0 20px 0;
            font-size: 1.5rem;
            color: $color-azul;
        }

        .footer__contacto--lista {
            list-style-type:none;
        }

        .footer__contacto--li {
            margin: 15px 0 0 0;
        }

        .footer__contacto--enlace {
            text-decoration: none;
            color: white;
        }
    }

    .footer__redes {
        display: flex;
        flex-direction:column;
        margin: 50px 50px 0 0;
        align-items: center;
        
        color: rgb(255, 255, 255);

        .footer__redes--parrafo {
            margin: 3rem 0 3rem 0;
        }

        .footer__redes--logos {
            display: flex;
            flex-direction:row;
        }

        .footer__redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 40px;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 40px;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 40px;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size: 40px;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        
    }

    .footer__logo {
        display: flex;
        flex-direction:column;
        align-self: center;
    }

    .footer__logo--img {
        width: 300px;
        height: 300px;
    }
}


// phone portrait (iphone 5 o SE)
@media (max-width: 320px) {
.header {
    background-color: $color-azul;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      

        .contenedor__h1 {
            background-color: #a2cbdb88;
            align-self: center;
            height: 20vh;
            display: flex;
            width: 90vw;
            border-top-right-radius: 4rem;
            border-bottom-right-radius: 4rem;
        }

        .header__titulo {
        font-size: 3rem;
        padding-left: .5rem;
        }

        .header__fondo {
            background-image: url(../media/boysLearning-min.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            height: 85vh;
            display: flex;
        }

        
}


.footer {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footer__contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 0 0;
        color: white;

        .footer__contacto--titulo {
            margin: 0;
            font-size: 2.8rem;
            color: $color-azul;
            
        }

        .footer__contacto--lista {
            list-style-type:none;
        }

        .footer__contacto--li {
            margin: 15px 0 0 0;
            font-size: 1.5rem;
        }

        .footer__contacto--enlace {
            text-decoration: none;
            color: white;
        }
    }

    .footer__redes {
        display: flex;
        flex-direction:column;
        margin: .5rem 0 3rem 0;
        align-items: center;
        
        color: rgb(255, 255, 255);

        .footer__redes--parrafo {
            padding: 2rem;
            margin: 0;
            font-size: 1.8rem;
            text-align: center;
        }

        .footer__redes--logos {
            display: flex;
            flex-direction:row;
            margin-left: 2.5rem;
        }

        .footer__redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 4rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 4rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 4rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size: 4rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        
    }

    .footer__logo {
        display: flex;
        align-self: center;
    }

    .footer__logo--img {
        width: 300px;
        height: 300px;
    }
}

.nav {
    background-color: #293241;
    height: 80px;
    color: white; 
    width: 100vw;
}

.nav__logo {
            font-size: 2rem;
            font-weight: 900;
        }

.nav__label {
	display: block;
	cursor: pointer;
}

.nav__item {
    font-size: 1.5rem;
}

.nav__menu {
	position: fixed;
	top: 80px;
	bottom: 0;
	background: $color-azul;
	width: 100vw;
	left: 0;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	clip-path: circle(0 at center);
	transition: clip-path 1s ease-in-out;
    margin:0 ;
}



.nav__input:checked + .nav__menu {
	clip-path: circle(90% at center);
}


}

// Phone landscape + portrait (iphone x)
@media (min-width: 321px) and (max-width: 480px) {

.header {
    background-color: $color-azul;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      

        .contenedor__h1 {
            background-color: #a2cbdb88;
            align-self: center;
            height: 20vh;
            display: flex;
            width: 90vw;
            border-top-right-radius: 4rem;
            border-bottom-right-radius: 4rem;
        }

        .header__titulo {
        font-size: 3.5rem;
        padding-left: .5rem;
        }

        .header__fondo {
            background-image: url(../media/boysLearning-min.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            height: 85vh;
            display: flex;
        }

        
}


.footer {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footer__contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 0 0;
        color: white;

        .footer__contacto--titulo {
            margin: 0;
            font-size: 4rem;
            color: $color-azul;
            
        }

        .footer__contacto--lista {
            list-style-type:none;
        }

        .footer__contacto--li {
            margin: 15px 0 0 0;
            font-size: 1.9rem;
        }

        .footer__contacto--enlace {
            text-decoration: none;
            color: white;
        }
    }

    .footer__redes {
        display: flex;
        flex-direction:column;
        margin: .5rem 0 3rem 0;
        align-items: center;
        
        color: rgb(255, 255, 255);

        .footer__redes--parrafo {
            padding: 2rem;
            margin: 0;
            font-size: 2rem;
            text-align: center;
        }

        .footer__redes--logos {
            display: flex;
            flex-direction:row;
            margin-left: 2.5rem;
        }

        .footer__redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 4.5rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 4.5rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 4.5rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size: 4.5rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        
    }

    .footer__logo {
        display: flex;
        align-self: center;
    }

    .footer__logo--img {
        width: 350px;
        height: 350px;
    }
}

.nav {
    background-color: #293241;
    height: 80px;
    color: white; 
    width: 100vw;
}

.nav__logo {
            font-size: 2.5rem;
            font-weight: 900;
        }

.nav__img {
    width: 5.5rem;
}

.nav__label {
	display: block;
	cursor: pointer;
}

.nav__item {
    font-size: 2rem;
}

.nav__item:after {
                    content: "";
                    display: block;
                    background: white;
                    width: 90%;
                    margin-top: 3px;
                    height: 3px;
                    clip-path: var(--clippy);
                    transition: clip-path .5s;
                }

.nav__item:hover {
    --clippy: polygon(0 1%, 100% 0, 100% 100%, 0 100%);

                }


.nav__menu {
	position: fixed;
	top: 80px;
	bottom: 0;
	background: $color-azul;
	width: 100vw;
	left: 0;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	clip-path: circle(0 at center);
	transition: clip-path 1s ease-in-out;
    margin:0 ;
    height: 90vh;
}



.nav__input:checked + .nav__menu {
	clip-path: circle(90% at center);
}


}

// Small tablet portrait con aprox 800 de Height
@media (min-width: 481px) and (max-width: 600px) {

.header {
    background-color: $color-azul;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      

        .contenedor__h1 {
            background-color: #a2cbdb88;
            align-self: center;
            height: 20vh;
            display: flex;
            width: 90vw;
            border-top-right-radius: 4rem;
            border-bottom-right-radius: 4rem;
        }

        .header__titulo {
        font-size: 4.5rem;
        padding-left: .5rem;
        }

        .header__fondo {
            background-image: url(../media/boysLearning-min.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            height: 85vh;
            display: flex;
        }

        
}


.footer {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footer__contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 0 0;
        color: white;

        .footer__contacto--titulo {
            margin: 0;
            font-size: 4.5rem;
            color: $color-azul;
            
        }

        .footer__contacto--lista {
            list-style-type:none;
        }

        .footer__contacto--li {
            margin: 15px 0 0 0;
            font-size: 2.2rem;
        }

        .footer__contacto--enlace {
            text-decoration: none;
            color: white;
        }
    }

    .footer__redes {
        display: flex;
        flex-direction:column;
        margin: .5rem 0 3rem 0;
        align-items: center;
        
        color: rgb(255, 255, 255);

        .footer__redes--parrafo {
            padding: 2rem;
            margin: 0;
            font-size: 2.5rem;
            text-align: center;
        }

        .footer__redes--logos {
            display: flex;
            flex-direction:row;
            margin-left: 2.5rem;
        }

        .footer__redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 5.5rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 5.5rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 5.5rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size: 5.5rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        
    }

    .footer__logo {
        display: flex;
        align-self: center;
    }

    .footer__logo--img {
        width: 450px;
        height: 450px;
    }
}

.nav {
    background-color: #293241;
    height: 100px;
    color: white; 
    width: 100vw;
}

.nav__logo {
            font-size: 3rem;
            font-weight: 900;
        }

.nav__img {
    width: 6.5rem;
}

.nav__label {
	display: block;
	cursor: pointer;
}

.nav__item {
    font-size: 1.5rem;
}

.nav__menu {
	position: fixed;
	top:100px;
	bottom: 0;
	background: $color-azul;
	width: 100vw;
	left: 0;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	clip-path: circle(0 at center);
	transition: clip-path 1s ease-in-out;
    margin:0 ;
}



.nav__input:checked + .nav__menu {
	clip-path: circle(90% at center);
}


}

// Large tablet portrait (ipad con 1024 de H)
@media (min-width: 601px) and (max-width: 768px) {

.header {
    background-color: $color-azul;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      

        .contenedor__h1 {
            background-color: #a2cbdb88;
            align-self: center;
            height: 20vh;
            display: flex;
            width: 90vw;
            border-top-right-radius: 4rem;
            border-bottom-right-radius: 4rem;
        }

        .header__titulo {
        font-size: 3.5rem;
        padding-left: .5rem;
        }

        .header__fondo {
            background-image: url(../media/boysLearning-min.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            height: 90vh;
            display: flex;
        }

        
}


.footer {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footer__contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 0 0;
        color: white;

        .footer__contacto--titulo {
            margin: 0;
            font-size: 3.8rem;
            color: $color-azul;
            
        }

        .footer__contacto--lista {
            list-style-type:none;
        }

        .footer__contacto--li {
            margin: 15px 0 0 0;
            font-size: 1.8rem;
            line-height: 2;
        }

        .footer__contacto--enlace {
            text-decoration: none;
            color: white;
        }
    }

    .footer__redes {
        display: flex;
        flex-direction:column;
        margin: .5rem 0 3rem 0;
        align-items: center;
        
        color: rgb(255, 255, 255);

        .footer__redes--parrafo {
            padding: 2rem;
            margin: 0;
            font-size: 2rem;
            text-align: center;
        }

        .footer__redes--logos {
            display: flex;
            flex-direction:row;
            margin-left: 2.5rem;
        }

        .footer__redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 4rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 4rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 4rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size: 4rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        
    }

    .footer__logo {
        display: flex;
        align-self: center;
    }

    .footer__logo--img {
        width: 450px;
        height: 450px;
    }
}

.nav {
    background-color: #293241;
    height: 125px;
    color: white; 
    width: 100vw;
}

.nav__logo {
            font-size: 2.5rem;
            font-weight: 900;
        }

.nav__img {
    width: 5.5rem;
}

.nav__label {
	display: block;
	cursor: pointer;
}

.nav__item {
    font-size: 1.5rem;
}

.nav__menu {
	position: fixed;
	top: 125px;
	bottom: 0;
	background: $color-azul;
	width: 100vw;
	left: 0;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	clip-path: circle(0 at center);
	transition: clip-path 1s ease-in-out;
    margin:0 ;
}



.nav__input:checked + .nav__menu {
	clip-path: circle(90% at center);
}


}


// Tablet Landscape and XL tablet portrait (ipad pro con aprox 1366 de H)
@media (min-width: 769px) and (max-width: 1024px) {

.header {
    background-color: $color-azul;
    display: flex;
    flex-direction: column;
    justify-content: space-between;      

        .contenedor__h1 {
            background-color: #a2cbdb88;
            align-self: center;
            height: 20vh;
            display: flex;
            width: 90vw;
            border-top-right-radius: 4rem;
            border-bottom-right-radius: 4rem;
        }

        .header__titulo {
        font-size: 3.5rem;
        padding-left: .5rem;
        }

        .header__fondo {
            background-image: url(../media/boysLearning-min.jpg);
            background-size: cover;
            background-attachment: fixed;
            background-position: center center;
            height: 90vh;
            display: flex;
        }

        
}


.footer {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .footer__contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem 0 0 0;
        color: white;

        .footer__contacto--titulo {
            margin: 0;
            font-size: 4.5rem;
            color: $color-azul;
            
        }

        .footer__contacto--lista {
            list-style-type:none;
        }

        .footer__contacto--li {
            margin: 15px 0 0 0;
            font-size: 2.2rem;
            line-height: 2;
        }

        .footer__contacto--enlace {
            text-decoration: none;
            color: white;
        }
    }

    .footer__redes {
        display: flex;
        flex-direction:column;
        margin: .5rem 0 3rem 0;
        align-items: center;
        
        color: rgb(255, 255, 255);

        .footer__redes--parrafo {
            padding: 2rem;
            margin: 0;
            font-size: 2.5rem;
            text-align: center;
        }

        .footer__redes--logos {
            display: flex;
            flex-direction:row;
            margin-left: 2.5rem;
        }

        .footer__redes--enlace {
            color: white;
            text-decoration: none;

            .fa-facebook-square {
                font-size: 5.5rem;
                color: #3b5998;
                margin-right: 30px;
            }

            .fa-instagram {
                font-size: 5.5rem;
                color:#E1306C ;
                margin-right: 30px;
            }

            .fa-twitter {
                font-size: 5.5rem;
                color: #00acee;
                margin-right: 30px;
            }

            .fa-linkedin-in {
                font-size: 5.5rem;
                color: #2867B2;
                margin-right: 30px;
            }
        }
        
    }

    .footer__logo {
        display: flex;
        align-self: center;
    }

    .footer__logo--img {
        width: 650px;
        height: 650px;
    }
}

.nav {
    background-color: #293241;
    height: 130px;
    color: white; 
    width: 100vw;
}

.nav__logo {
            font-size: 3rem;
            font-weight: 900;
        }

.nav__img {
    width: 6.5rem;
}

.nav__label {
	display: block;
	cursor: pointer;
}

.nav__item {
    font-size: 1.5rem;
}

.nav__menu {
	position: fixed;
	top: 130px;
	bottom: 0;
	background: $color-azul;
	width: 100vw;
	left: 0;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	clip-path: circle(0 at center);
	transition: clip-path 1s ease-in-out;
    margin:0 ;
}



.nav__input:checked + .nav__menu {
	clip-path: circle(90% at center);
}


}