$color-azul:#0C5CED;
$color-celeste:#0C9EF7;
$color-celeste-claro:#00C6E0;
$color-amarillo:#FAB416;
$color-naranja:#F07D00;
$color-negro: #121212;


.section__ptes {
    display: flex;
    flex-direction: column;
    width: 100%;

    .section__ptes--titulo {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }


    .ptes__article--consulta {
        display: flex;
        flex-direction: row;
        margin: 2rem 0;
        width: 100%;
        



        .ptes__article--consulta--div {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 2rem;

            .ptes__article--consulta--div--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 2.5rem;
            }

            .ptes__article--consulta--div--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 1.2rem;
            }
            
        }

        .ptes__article--consulta--div2 {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 0 2rem;

            .ptes__article--consulta--div2--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 2.5rem;
            }

            .ptes__article--consulta--div2--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 1.2rem;
            }

            .ptes__article--consulta--div2--lista {
                line-height: 1.5;
                margin: 1rem 1rem;
                font-size: 1.2rem;
            }



        }



    }



    .ptes__article--señales {
        background: -webkit-linear-gradient(to bottom, #316fe2, #0C5CED); 
        background: linear-gradient(to bottom, #316fe2, #0C5CED); 
        padding: 2rem 0;

        .ptes__article--señales--h3 {
            text-align: center;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }

        .ptes__article--señales--h4 {
            font-size: 2rem;
            margin:0 0 2rem 2rem;
            text-align: center;
        }


        .listas__señales {
            display: flex;
            flex-direction: row;


            .ptes__article--señales--ul {
            margin: 0 4rem 2rem 5rem;
            

            .ptes__article--señales--li {
                margin: 0 0 1rem 0;
                font-size: 1.2rem;


                .ptes__article--señales--li--h5 {
                    font-size: 1.4rem;
                }
            }

        }
        }

        
    }


}

.section__ptes2 {
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;

    .ptes2__article {
        display: flex;
        flex-direction: row;
        background: -webkit-linear-gradient(to top, #316fe2, #0C5CED); 
        background: linear-gradient(to top, #316fe2, #0C5CED); 
        height: 80vh;


        .ptes2__article--div {
            width: 50%;
            margin: 3rem 2rem 0 2rem;

            .ptes2__article--div--titulo {
                text-align: center;
                margin-bottom: 2rem;
                font-size: 2.5rem;
            }

            .ptes2__article--div--parrafo {
                font-size: 1.2rem;
                line-height: 2;
                margin-bottom: 1rem;
            }
        }

        .ptes2__article--div2 {
            width: 50%;
            margin: 3rem 2rem 0 2rem;

            .ptes2__article--div2--titulo {
                text-align: center;
                margin: 0 0.5rem 2rem 0;
                font-size: 2.5rem;
            }

            .ptes2__article--div--listas {
                display: flex;
                flex-direction: row;
                margin-top: 4rem;

                .ptes2__article--div2--ul {
                font-size: 1.2rem;
                line-height: 2;
                margin: 0 0 0 4rem;
            }

            }

            
        }
    }

    .ptes2__article2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(../media/covid-min.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        
        

        .ptes2__article2--div {
            padding: 2rem 2rem 4rem 2rem;
            height: 75vh;
            width: 100%;
            color: white;
            text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
            background-color: #334b5570;

            .ptes2__article2--h4 {
                text-align: center;
                font-size: 4rem;
            }

            .ptes2__article2--h5 {
                margin: .8rem .5rem;
                font-size: 2rem;
                text-align: center;
            }

            .ptes2__article2--parrafo {
                line-height: 2;
                margin-bottom: 1rem;
                font-size: 1.2rem;
                
            }

            .ptes2__article2--ul {
                line-height: 2;
                margin-bottom: 1rem;
                font-size: 1.2rem;

                .ptes2__article2--li {
                    padding-bottom: 2rem;   
                }
            }

        }
    }

    .ptes2__article3 {
        display: flex;
        flex-direction: column;
        background-color: $color-negro;
        color: white;
        padding: 2rem;
        

        .ptes2__article3--h4 {
            font-size: 3rem;
            text-align: center;
            margin: 2rem 0;
            color: $color-azul;
        }


        .ptes2__article3--parrafo {
            line-height: 2;
            font-size: 1.2rem;
            margin: 0 2rem 2rem 2rem;
        }

        .ptes2__article3--h5 {
            font-size: 2rem;
            margin: 0 0 1rem 2rem;
            color: $color-azul;
        }

        .ptes2__article3--lista {
            margin: 0 2rem 2rem 3rem;
            font-size: 1.2rem;
            line-height: 2;
            width: 90%;
        }
    }


}

// phone portrait (iphone 5 o SE)
@media (max-width: 320px) {
    .section__ptes {
    display: flex;
    flex-direction: column;
    width: 100%;

    .section__ptes--titulo {
        text-align: center;
        font-size: 3rem;
        margin-bottom: 1rem;
    }


    .ptes__article--consulta {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        width: 100%;
        



        .ptes__article--consulta--div {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 2rem;

            .ptes__article--consulta--div--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 2.5rem;
            }

            .ptes__article--consulta--div--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 1.8rem;
            }
            
        }

        .ptes__article--consulta--div2 {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 2rem;

            .ptes__article--consulta--div2--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 2.5rem;
            }

            .ptes__article--consulta--div2--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 1.8rem;
            }

            .ptes__article--consulta--div2--lista {
                line-height: 1.5;
                margin: 1rem 1rem;
                font-size: 1.8rem;
            }
        }
    }



    .ptes__article--señales {
        background: -webkit-linear-gradient(to bottom, #316fe2, #0C5CED); 
        background: linear-gradient(to bottom, #316fe2, #0C5CED); 
        padding: 2rem 0;

        .ptes__article--señales--h3 {
            text-align: center;
            font-size: 3rem;
            margin-bottom: 2rem;
        }

        .ptes__article--señales--h4 {
            font-size: 2.5rem;
            margin:0 0 2rem 0;
            text-align: center;
            padding: 0 2rem;
        }


        .listas__señales {
            display: flex;
            flex-direction: column;


            .ptes__article--señales--ul {
            margin: 0 4rem 2rem 5rem;
            

            .ptes__article--señales--li {
                margin: 0 0 1rem 0;
                font-size: 1.7rem;


                .ptes__article--señales--li--h5 {
                    font-size: 1.8rem;
                }
            }

        }
        }

        
    }


}

.section__ptes2 {
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;

    .ptes2__article {
        display: flex;
        flex-direction: column;
        background: -webkit-linear-gradient(to top, #316fe2, #0C5CED); 
        background: linear-gradient(to top, #316fe2, #0C5CED); 
        height: auto;


        .ptes2__article--div {
            width: 90%;
            margin: 3rem 2rem 0 0;
            padding: 0 2rem;

            .ptes2__article--div--titulo {
                text-align: center;
                margin-bottom: 2rem;
                font-size: 3rem;
            }

            .ptes2__article--div--parrafo {
                font-size: 1.8rem;
                line-height: 2;
                margin-bottom: 1rem;
            }
        }

        .ptes2__article--div2 {
            width: 90%;
            margin: 3rem 0 0 0;
            padding: 0 4rem 2rem 2rem;

            .ptes2__article--div2--titulo {
                text-align: center;
                margin: 0 0.5rem 2rem 0;
                font-size: 2.5rem;
            }

            .ptes2__article--div--listas {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;

                .ptes2__article--div2--ul {
                font-size: 1.8rem;
                line-height: 2;
                margin: 0 0 0 4rem;
            }

            }

            
        }
    }

    .ptes2__article2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(../media/covid-min.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        
        

        .ptes2__article2--div {
            padding: 2rem 2rem 4rem 2rem;
            height:auto;
            width: 100%;
            color: white;
            text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
            background-color: #334b55a2;

            .ptes2__article2--h4 {
                text-align: center;
                font-size: 4rem;
            }

            .ptes2__article2--h5 {
                margin: 2rem 1rem;
                font-size: 2.2rem;
                text-align: center;
            }

            .ptes2__article2--parrafo {
                line-height: 2;
                margin-bottom: 2rem;
                font-size: 1.8rem;
                
            }

            .ptes2__article2--ul {
                line-height: 2;
                margin-bottom: 1rem;
                font-size: 1.8rem;

                .ptes2__article2--li {
                    padding-bottom: 1rem;   
                }
            }

        }
    }

    .ptes2__article3 {
        display: flex;
        flex-direction: column;
        background-color: $color-negro;
        color: white;
        padding: 2rem;
        

        .ptes2__article3--h4 {
            font-size: 3rem;
            text-align: center;
            margin: 2rem 0;
            color: $color-azul;
        }


        .ptes2__article3--parrafo {
            line-height: 2;
            font-size: 1.8rem;
            margin: 0 2rem 2rem 2rem;
        }

        .ptes2__article3--h5 {
            font-size: 3rem;
            margin: 0 0 1rem 2rem;
            color: $color-azul;
        }

        .ptes2__article3--lista {
            margin: 0 2rem 2rem 3rem;
            font-size: 1.8rem;
            line-height: 2;
            width: 90%;
        }
    }


}



}

// Phone landscape + portrait (iphone x)
@media (min-width: 321px) and (max-width: 480px) {
    .section__ptes {
    display: flex;
    flex-direction: column;
    width: 100%;

    .section__ptes--titulo {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
    }


    .ptes__article--consulta {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        width: 100%;
        



        .ptes__article--consulta--div {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 2rem;

            .ptes__article--consulta--div--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 3.5rem;
            }

            .ptes__article--consulta--div--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 2rem;
            }
            
        }

        .ptes__article--consulta--div2 {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 1rem 2rem;

            .ptes__article--consulta--div2--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 3.5rem;
            }

            .ptes__article--consulta--div2--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            .ptes__article--consulta--div2--lista {
                line-height: 1.5;
                margin: 1rem 1rem;
                font-size: 2rem;
            }
        }
    }



    .ptes__article--señales {
        background: -webkit-linear-gradient(to bottom, #316fe2, #0C5CED); 
        background: linear-gradient(to bottom, #316fe2, #0C5CED); 
        padding: 2rem 0;

        .ptes__article--señales--h3 {
            text-align: center;
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        .ptes__article--señales--h4 {
            font-size: 2.7rem;
            margin:0 2rem 2rem 0;
            text-align: center;
            padding: 0 2rem;
        }


        .listas__señales {
            display: flex;
            flex-direction: column;


            .ptes__article--señales--ul {
            margin: 0 4rem 2rem 5rem;
            

            .ptes__article--señales--li {
                margin: 0 0 1rem 0;
                font-size: 2.2rem;


                .ptes__article--señales--li--h5 {
                    font-size: 2.4rem;
                }
            }

        }
        }

        
    }


}

.section__ptes2 {
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;

    .ptes2__article {
        display: flex;
        flex-direction: column;
        background: -webkit-linear-gradient(to top, #316fe2, #0C5CED); 
        background: linear-gradient(to top, #316fe2, #0C5CED); 
        height: auto;


        .ptes2__article--div {
            width: 90%;
            margin: 3rem 2rem 0 0;
            padding: 0 2rem;

            .ptes2__article--div--titulo {
                text-align: center;
                margin-bottom: 2rem;
                font-size: 3.5rem;
            }

            .ptes2__article--div--parrafo {
                font-size: 2rem;
                line-height: 2;
                margin-bottom: 1rem;
            }
        }

        .ptes2__article--div2 {
            width: 90%;
            margin: 3rem 0 0 0;
            padding: 0 4rem 2rem 2rem;

            .ptes2__article--div2--titulo {
                text-align: center;
                margin: 0 0.5rem 2rem 0;
                font-size: 3.5rem;
            }

            .ptes2__article--div--listas {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;

                .ptes2__article--div2--ul {
                font-size: 2rem;
                line-height: 2;
                margin: 0 0 0 4rem;
            }

            }

            
        }
    }

    .ptes2__article2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(../media/covid-min.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        
        

        .ptes2__article2--div {
            padding: 2rem 2rem 4rem 2rem;
            height:auto;
            width: 100%;
            color: white;
            text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
            background-color: #334b55a2;

            .ptes2__article2--h4 {
                text-align: center;
                font-size: 5rem;
            }

            .ptes2__article2--h5 {
                margin: 2rem 1rem;
                font-size: 2.5rem;
                text-align: center;
            }

            .ptes2__article2--parrafo {
                line-height: 2;
                margin-bottom: 2rem;
                font-size: 2rem;
                
            }

            .ptes2__article2--ul {
                line-height: 2;
                margin-bottom: 1rem;
                font-size: 2rem;

                .ptes2__article2--li {
                    padding-bottom: 1rem;   
                }
            }

        }
    }

    .ptes2__article3 {
        display: flex;
        flex-direction: column;
        background-color: $color-negro;
        color: white;
        padding: 2rem;
        

        .ptes2__article3--h4 {
            font-size: 4rem;
            text-align: center;
            margin: 2rem 0;
            color: $color-azul;
        }


        .ptes2__article3--parrafo {
            line-height: 2;
            font-size: 2rem;
            margin: 0 2rem 2rem 2rem;
        }

        .ptes2__article3--h5 {
            font-size: 3.5rem;
            margin: 0 0 1rem 2rem;
            color: $color-azul;
        }

        .ptes2__article3--lista {
            margin: 0 2rem 2rem 3rem;
            font-size: 2rem;
            line-height: 2;
            width: 90%;
        }
    }


}



}

// Small tablet portrait con aprox 800 de Height
@media (min-width: 481px) and (max-width: 600px) {
    .section__ptes {
    display: flex;
    flex-direction: column;
    width: 100%;

    .section__ptes--titulo {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
    }


    .ptes__article--consulta {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        width: 100%;
        



        .ptes__article--consulta--div {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 2rem;

            .ptes__article--consulta--div--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 3.5rem;
            }

            .ptes__article--consulta--div--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 2rem;
            }
            
        }

        .ptes__article--consulta--div2 {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 1rem 2rem;

            .ptes__article--consulta--div2--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 3.5rem;
            }

            .ptes__article--consulta--div2--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            .ptes__article--consulta--div2--lista {
                line-height: 1.5;
                margin: 1rem 1rem;
                font-size: 2rem;
            }
        }
    }



    .ptes__article--señales {
        background: -webkit-linear-gradient(to bottom, #316fe2, #0C5CED); 
        background: linear-gradient(to bottom, #316fe2, #0C5CED); 
        padding: 2rem 0;

        .ptes__article--señales--h3 {
            text-align: center;
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        .ptes__article--señales--h4 {
            font-size: 2.7rem;
            margin:0 2rem 2rem 0;
            text-align: center;
            padding: 0 2rem;
        }


        .listas__señales {
            display: flex;
            flex-direction: column;


            .ptes__article--señales--ul {
            margin: 0 4rem 2rem 5rem;
            

            .ptes__article--señales--li {
                margin: 0 0 1rem 0;
                font-size: 2.2rem;


                .ptes__article--señales--li--h5 {
                    font-size: 2.4rem;
                }
            }

        }
        }

        
    }


}

.section__ptes2 {
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;

    .ptes2__article {
        display: flex;
        flex-direction: column;
        background: -webkit-linear-gradient(to top, #316fe2, #0C5CED); 
        background: linear-gradient(to top, #316fe2, #0C5CED); 
        height: auto;


        .ptes2__article--div {
            width: 90%;
            margin: 3rem 2rem 0 0;
            padding: 0 2rem;

            .ptes2__article--div--titulo {
                text-align: center;
                margin-bottom: 2rem;
                font-size: 3.5rem;
            }

            .ptes2__article--div--parrafo {
                font-size: 2rem;
                line-height: 2;
                margin-bottom: 1rem;
            }
        }

        .ptes2__article--div2 {
            width: 90%;
            margin: 3rem 0 0 0;
            padding: 0 4rem 2rem 2rem;

            .ptes2__article--div2--titulo {
                text-align: center;
                margin: 0 0.5rem 2rem 0;
                font-size: 3.5rem;
            }

            .ptes2__article--div--listas {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;

                .ptes2__article--div2--ul {
                font-size: 2rem;
                line-height: 2;
                margin: 0 0 0 4rem;
            }

            }

            
        }
    }

    .ptes2__article2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(../media/covid-min.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        
        

        .ptes2__article2--div {
            padding: 2rem 2rem 4rem 2rem;
            height:auto;
            width: 100%;
            color: white;
            text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
            background-color: #334b55a2;

            .ptes2__article2--h4 {
                text-align: center;
                font-size: 5rem;
            }

            .ptes2__article2--h5 {
                margin: 2rem 1rem;
                font-size: 2.5rem;
                text-align: center;
            }

            .ptes2__article2--parrafo {
                line-height: 2;
                margin-bottom: 2rem;
                font-size: 2rem;
                
            }

            .ptes2__article2--ul {
                line-height: 2;
                margin-bottom: 1rem;
                font-size: 2rem;

                .ptes2__article2--li {
                    padding-bottom: 1rem;   
                }
            }

        }
    }

    .ptes2__article3 {
        display: flex;
        flex-direction: column;
        background-color: $color-negro;
        color: white;
        padding: 2rem;
        

        .ptes2__article3--h4 {
            font-size: 4rem;
            text-align: center;
            margin: 2rem 0;
            color: $color-azul;
        }


        .ptes2__article3--parrafo {
            line-height: 2;
            font-size: 2rem;
            margin: 0 2rem 2rem 2rem;
        }

        .ptes2__article3--h5 {
            font-size: 3.5rem;
            margin: 0 0 1rem 2rem;
            color: $color-azul;
        }

        .ptes2__article3--lista {
            margin: 0 2rem 2rem 3rem;
            font-size: 2rem;
            line-height: 2;
            width: 90%;
        }
    }


}



}

// Large tablet portrait (ipad)
@media (min-width: 601px) and (max-width: 768px) {
    .section__ptes {
    display: flex;
    flex-direction: column;
    width: 100%;

    .section__ptes--titulo {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
    }


    .ptes__article--consulta {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        width: 100%;
        



        .ptes__article--consulta--div {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 2rem;

            .ptes__article--consulta--div--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 3.5rem;
            }

            .ptes__article--consulta--div--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 2rem;
            }
            
        }

        .ptes__article--consulta--div2 {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 1rem 2rem;

            .ptes__article--consulta--div2--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 3.5rem;
            }

            .ptes__article--consulta--div2--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            .ptes__article--consulta--div2--lista {
                line-height: 1.5;
                margin: 1rem 1rem;
                font-size: 2rem;
            }
        }
    }



    .ptes__article--señales {
        background: -webkit-linear-gradient(to bottom, #316fe2, #0C5CED); 
        background: linear-gradient(to bottom, #316fe2, #0C5CED); 
        padding: 2rem 0;

        .ptes__article--señales--h3 {
            text-align: center;
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        .ptes__article--señales--h4 {
            font-size: 2.7rem;
            margin:0 2rem 2rem 0;
            text-align: center;
            padding: 0 2rem;
        }


        .listas__señales {
            display: flex;
            flex-direction: column;


            .ptes__article--señales--ul {
            margin: 0 4rem 2rem 5rem;
            

            .ptes__article--señales--li {
                margin: 0 0 1rem 0;
                font-size: 2rem;


                .ptes__article--señales--li--h5 {
                    font-size: 2.2rem;
                }
            }

        }
        }

        
    }


}

.section__ptes2 {
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;

    .ptes2__article {
        display: flex;
        flex-direction: column;
        background: -webkit-linear-gradient(to top, #316fe2, #0C5CED); 
        background: linear-gradient(to top, #316fe2, #0C5CED); 
        height: auto;


        .ptes2__article--div {
            width: 90%;
            margin: 3rem 2rem 0 0;
            padding: 0 2rem;

            .ptes2__article--div--titulo {
                text-align: center;
                margin-bottom: 2rem;
                font-size: 4rem;
            }

            .ptes2__article--div--parrafo {
                font-size: 2rem;
                line-height: 2;
                margin-bottom: 1rem;
            }
        }

        .ptes2__article--div2 {
            width: 90%;
            margin: 3rem 0 0 0;
            padding: 0 4rem 2rem 2rem;

            .ptes2__article--div2--titulo {
                text-align: center;
                margin: 0 0.5rem 2rem 0;
                font-size: 3.5rem;
            }

            .ptes2__article--div--listas {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;

                .ptes2__article--div2--ul {
                font-size: 2rem;
                line-height: 2;
                margin: 0 0 0 4rem;
            }

            }

            
        }
    }

    .ptes2__article2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(../media/covid-min.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        
        

        .ptes2__article2--div {
            padding: 2rem 2rem 4rem 2rem;
            height:auto;
            width: 100%;
            color: white;
            text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
            background-color: #334b55a2;

            .ptes2__article2--h4 {
                text-align: center;
                font-size: 6rem;
            }

            .ptes2__article2--h5 {
                margin: 2rem 1rem;
                font-size: 2.8rem;
                text-align: center;
            }

            .ptes2__article2--parrafo {
                line-height: 2;
                font-size: 2rem;
                margin: 0 2rem 2rem 1rem;
            }

            .ptes2__article2--ul {
                line-height: 2;
                font-size: 2rem;
                margin: 0 2rem 2rem 1rem;

                .ptes2__article2--li {
                    padding-bottom: 1rem;   
                }
            }

        }
    }

    .ptes2__article3 {
        display: flex;
        flex-direction: column;
        background-color: $color-negro;
        color: white;
        padding: 2rem;
        

        .ptes2__article3--h4 {
            font-size: 5rem;
            text-align: center;
            margin: 2rem 0;
            color: $color-azul;
        }


        .ptes2__article3--parrafo {
            line-height: 2;
            font-size: 2rem;
            margin: 0 2rem 2rem 2rem;
        }

        .ptes2__article3--h5 {
            font-size: 3rem;
            margin: 0 3rem 1rem 2rem;
            color: $color-azul;
        }

        .ptes2__article3--lista {
            margin: 0 2rem 2rem 3rem;
            font-size: 2rem;
            line-height: 2;
            width: 90%;
        }
    }


}



}

// Tablet Landscape and XL tablet portrait (ipad pro con aprox 1366 de H)
@media (min-width: 769px) and (max-width: 1024px) {
    .section__ptes {
    display: flex;
    flex-direction: column;
    width: 100%;

    .section__ptes--titulo {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 1rem;
    }


    .ptes__article--consulta {
        display: flex;
        flex-direction: column;
        margin: 2rem 0;
        width: 100%;
        



        .ptes__article--consulta--div {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 0 2rem;

            .ptes__article--consulta--div--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 3.5rem;
            }

            .ptes__article--consulta--div--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 2rem;
            }
            
        }

        .ptes__article--consulta--div2 {
            display: flex;
            flex-direction: column;
            width: 90%;
            margin: 1rem 2rem;

            .ptes__article--consulta--div2--titulo {
                text-align: center;
                margin-bottom: 1rem;
                font-size: 3.5rem;
            }

            .ptes__article--consulta--div2--parrafo {
                line-height: 1.5;
                margin-bottom: 1rem;
                font-size: 2rem;
            }

            .ptes__article--consulta--div2--lista {
                line-height: 1.5;
                margin: 1rem 1rem;
                font-size: 2rem;
            }
        }
    }



    .ptes__article--señales {
        background: -webkit-linear-gradient(to bottom, #316fe2, #0C5CED); 
        background: linear-gradient(to bottom, #316fe2, #0C5CED); 
        padding: 2rem 0;

        .ptes__article--señales--h3 {
            text-align: center;
            font-size: 4rem;
            margin-bottom: 2rem;
        }

        .ptes__article--señales--h4 {
            font-size: 2.7rem;
            margin:0 2rem 2rem 0;
            text-align: center;
            padding: 0 2rem;
        }


        .listas__señales {
            display: flex;
            flex-direction: column;


            .ptes__article--señales--ul {
            margin: 0 4rem 2rem 5rem;
            

            .ptes__article--señales--li {
                margin: 0 0 1rem 0;
                font-size: 2rem;


                .ptes__article--señales--li--h5 {
                    font-size: 2.2rem;
                }
            }

        }
        }

        
    }


}

.section__ptes2 {
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;

    .ptes2__article {
        display: flex;
        flex-direction: column;
        background: -webkit-linear-gradient(to top, #316fe2, #0C5CED); 
        background: linear-gradient(to top, #316fe2, #0C5CED); 
        height: auto;


        .ptes2__article--div {
            width: 90%;
            margin: 3rem 2rem 0 0;
            padding: 0 2rem;

            .ptes2__article--div--titulo {
                text-align: center;
                margin-bottom: 2rem;
                font-size: 4rem;
            }

            .ptes2__article--div--parrafo {
                font-size: 2rem;
                line-height: 2;
                margin-bottom: 1rem;
            }
        }

        .ptes2__article--div2 {
            width: 90%;
            margin: 3rem 0 0 0;
            padding: 0 4rem 2rem 2rem;

            .ptes2__article--div2--titulo {
                text-align: center;
                margin: 0 0.5rem 2rem 0;
                font-size: 3.5rem;
            }

            .ptes2__article--div--listas {
                display: flex;
                flex-direction: column;
                margin-top: 2rem;

                .ptes2__article--div2--ul {
                font-size: 2rem;
                line-height: 2;
                margin: 0 0 0 4rem;
            }

            }

            
        }
    }

    .ptes2__article2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-image: url(../media/covid-min.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;
        
        

        .ptes2__article2--div {
            padding: 2rem 2rem 4rem 2rem;
            height:auto;
            width: 100%;
            color: white;
            text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
            background-color: #334b55a2;

            .ptes2__article2--h4 {
                text-align: center;
                font-size: 6rem;
            }

            .ptes2__article2--h5 {
                margin: 2rem 1rem;
                font-size: 2.8rem;
                text-align: center;
            }

            .ptes2__article2--parrafo {
                line-height: 2;
                font-size: 2rem;
                margin: 0 2rem 2rem 1rem;
            }

            .ptes2__article2--ul {
                line-height: 2;
                font-size: 2rem;
                margin: 0 2rem 2rem 1rem;

                .ptes2__article2--li {
                    padding-bottom: 1rem;   
                }
            }

        }
    }

    .ptes2__article3 {
        display: flex;
        flex-direction: column;
        background-color: $color-negro;
        color: white;
        padding: 2rem;
        

        .ptes2__article3--h4 {
            font-size: 5rem;
            text-align: center;
            margin: 2rem 0;
            color: $color-azul;
        }


        .ptes2__article3--parrafo {
            line-height: 2;
            font-size: 2rem;
            margin: 0 2rem 2rem 2rem;
        }

        .ptes2__article3--h5 {
            font-size: 3rem;
            margin: 0 3rem 1rem 2rem;
            color: $color-azul;
        }

        .ptes2__article3--lista {
            margin: 0 2rem 2rem 3rem;
            font-size: 2rem;
            line-height: 2;
            width: 90%;
        }
    }


}



}

