@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #a2cbdb; }

h1 {
  font-family: "Metrophobic", sans-serif; }

h2, h3, h4, h5, h6 {
  font-family: "Cairo", sans-serif; }

p, a, li, td {
  font-family: "Telex", sans-serif; }

a {
  text-decoration: none; }

.header {
  background-color: #048ABF;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .header .header__titulo {
    font-size: 40px;
    align-self: center;
    margin: 50px 0 30px 0;
    height: 15vh; }
  .header .nav {
    background-color: #121212;
    height: 10vh;
    color: white;
    width: 100%; }
    .header .nav .nav__container {
      display: flex;
      height: 100%;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center; }
      .header .nav .nav__container .nav__logo {
        font-size: 1.5em; }
      .header .nav .nav__container .nav__label, .header .nav .nav__container .nav__input {
        display: none; }
      .header .nav .nav__container .nav__input:checked + .nav__menu {
        background: tomato; }
      .header .nav .nav__container .nav__menu {
        display: grid;
        grid-auto-flow: column;
        gap: 3em; }
        .header .nav .nav__container .nav__menu .nav__item {
          color: white;
          text-decoration: none;
          --clippy: polygon(0 1%, 0 0, 0 100%, 0 100%); }
        .header .nav .nav__container .nav__menu .nav__item:after {
          content: "";
          display: block;
          background: white;
          width: 90%;
          margin-top: 3px;
          height: 3px;
          clip-path: var(--clippy);
          transition: clip-path .5s; }
        .header .nav .nav__container .nav__menu .nav__item:hover {
          --clippy: polygon(0 1%, 100% 0, 100% 100%, 0 100%); }
  .header .header__nav .nav__div {
    overflow: hidden;
    background-color: #012840;
    display: flex;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
    align-items: center;
    justify-content: center; }
  .header .header__nav .nav__div__enlace {
    display: inline-block;
    font-size: 14px;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 5px; }
  .header .header__nav .nav__div__enlace:hover {
    background-color: #01a098;
    border-radius: 5px;
    color: black; }
  .header .header__nav .nav__div__submenu {
    display: inline-block; }
  .header .header__nav .nav__div__submenu--boton {
    font-size: 14px;
    border: none;
    outline: none;
    color: #863939;
    padding: 5px;
    background-color: #012840; }
  .header .header__nav .nav__div__submenu--contenido {
    display: none;
    position: absolute; }
  .header .header__nav .nav__div__submenu--contenido a {
    text-decoration: none;
    background-color: #012840;
    color: #fff1da;
    border: black solid 1px; }
  .header .header__nav .nav__div__submenu:hover .nav__div__submenu--contenido {
    display: block; }
  .header .header__fondo {
    background-image: url(../media/boysLearning-min.jpg);
    background-size: cover;
    background-position: center center;
    height: 70vh; }

.footer {
  background-color: #121212;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .footer .footer__contacto {
    display: flex;
    flex-direction: column;
    margin: 3rem 0 0 3rem;
    color: white; }
    .footer .footer__contacto .footer__contacto--titulo {
      margin: 0 0 20px 0;
      font-size: 1.5rem;
      color: #083892; }
    .footer .footer__contacto .footer__contacto--lista {
      list-style-type: none; }
    .footer .footer__contacto .footer__contacto--li {
      margin: 15px 0 0 0; }
    .footer .footer__contacto .footer__contacto--enlace {
      text-decoration: none;
      color: white; }
  .footer .footer__redes {
    display: flex;
    flex-direction: column;
    margin: 50px 50px 0 0;
    align-items: center;
    color: white; }
    .footer .footer__redes .footer__redes--parrafo {
      margin: 3rem 0 3rem 0; }
    .footer .footer__redes .footer__redes--logos {
      display: flex;
      flex-direction: row; }
    .footer .footer__redes .footer__redes--enlace {
      color: white;
      text-decoration: none; }
      .footer .footer__redes .footer__redes--enlace .fa-facebook-square {
        font-size: 40px;
        color: #3b5998;
        margin-right: 30px; }
      .footer .footer__redes .footer__redes--enlace .fa-instagram {
        font-size: 40px;
        color: #E1306C;
        margin-right: 30px; }
      .footer .footer__redes .footer__redes--enlace .fa-twitter {
        font-size: 40px;
        color: #00acee;
        margin-right: 30px; }
      .footer .footer__redes .footer__redes--enlace .fa-linkedin-in {
        font-size: 40px;
        color: #2867B2;
        margin-right: 30px; }
  .footer .footer__logo {
    display: flex;
    flex-direction: column;
    align-self: center; }
  .footer .footer__logo--img {
    width: 300px;
    height: 300px; }

@media (max-width: 1024px) {
  .header {
    background-color: #048ABF;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .header .header__titulo {
      font-size: 40px;
      align-self: center;
      margin: 100px 80px 0 0; }

  .footer {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer .footer__contacto {
      display: flex;
      flex-direction: column;
      margin: 3rem 0 0 3rem;
      color: white; }
      .footer .footer__contacto .footer__contacto--titulo {
        margin: 0 0 20px 0;
        font-size: 3rem;
        color: #083892; }
      .footer .footer__contacto .footer__contacto--lista {
        list-style-type: none; }
      .footer .footer__contacto .footer__contacto--li {
        margin: 15px 0 0 0; }
      .footer .footer__contacto .footer__contacto--enlace {
        text-decoration: none;
        color: white; }
    .footer .footer__redes {
      display: flex;
      flex-direction: column;
      margin: 50px 0 0 50px;
      align-items: center;
      color: white; }
      .footer .footer__redes .footer__redes--parrafo {
        margin: 3rem 0 3rem 0; }
      .footer .footer__redes .footer__redes--logos {
        display: flex;
        flex-direction: row;
        margin: 0 0 5rem 0; }
      .footer .footer__redes .footer__redes--enlace {
        color: white;
        text-decoration: none; }
        .footer .footer__redes .footer__redes--enlace .fa-facebook-square {
          font-size: 40px;
          color: #3b5998;
          margin-right: 30px; }
        .footer .footer__redes .footer__redes--enlace .fa-instagram {
          font-size: 40px;
          color: #E1306C;
          margin-right: 30px; }
        .footer .footer__redes .footer__redes--enlace .fa-twitter {
          font-size: 40px;
          color: #00acee;
          margin-right: 30px; }
        .footer .footer__redes .footer__redes--enlace .fa-linkedin-in {
          font-size: 40px;
          color: #2867B2;
          margin-right: 30px; }
    .footer .footer__logo {
      display: none; }
    .footer .footer__logo--img {
      width: 300px;
      height: 300px; } }
.main__index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 4rem 0 0 0;
  text-align: left; }
  .main__index .main__index__div {
    width: 800px; }
    .main__index .main__index__div .main__index__titulo {
      text-align: left;
      font-size: 30px;
      color: #073486; }
    .main__index .main__index__div .main__index__parrafo {
      text-align: left;
      margin: 2rem 0 0 0;
      line-height: 2; }
  .main__index .main__index__img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    align-self: center; }

.section__index {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .section__index .section__index__div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    .section__index .section__index__div .section__index__article2 {
      background-color: #00C6E0;
      margin: 50px 0 50px 0;
      text-align: center;
      width: 50%; }
      .section__index .section__index__div .section__index__article2 .section__index__article2--titulo {
        font-size: 40px;
        margin: 10px 0 25px 0; }
      .section__index .section__index__div .section__index__article2 .section__index__article2--lista {
        text-align: left;
        margin-left: 30px; }
        .section__index .section__index__div .section__index__article2 .section__index__article2--lista .section__index__article2--lista--li {
          margin: 10px 0 0 0; }
      .section__index .section__index__div .section__index__article2 .section__index__article2--img {
        width: 300px;
        margin: 30px 0; }
      .section__index .section__index__div .section__index__article2 .section__index__article2--parrafo {
        margin: 20px 0 0 0;
        font-weight: 700; }
        .section__index .section__index__div .section__index__article2 .section__index__article2--parrafo .section__index__article2--enlace {
          color: black; }
    .section__index .section__index__div .section__index__article3 {
      background-color: #121212;
      color: white;
      margin: 50px 0 50px 0;
      padding: 0 0 30px 0;
      text-align: center;
      width: 50%; }
      .section__index .section__index__div .section__index__article3 .section__index__article3--titulo {
        font-size: 40px;
        margin: 10px 0 15px 0; }
      .section__index .section__index__div .section__index__article3 .section__index__article3--parrafo {
        text-align: left;
        line-height: 2;
        margin: 0 20px 20px 20px;
        width: 600px; }
        .section__index .section__index__div .section__index__article3 .section__index__article3--parrafo .section__index__article3--enlace {
          font-weight: 600;
          color: white; }
      .section__index .section__index__div .section__index__article3 .section__index__article3--img {
        width: 300px;
        border-radius: 10px;
        margin: 0 0 0 10px; }
  .section__index .section__index__div2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
    .section__index .section__index__div2 .section__index__article4 {
      width: 300px;
      text-align: center;
      border-radius: 15px;
      height: 250px;
      margin: 4rem 0;
      padding: 10px;
      box-shadow: 0px 0px 15px 2px #3f3f3f; }
      .section__index .section__index__div2 .section__index__article4:hover {
        background-color: #121212;
        color: white;
        width: 320px;
        height: 270px;
        transition: .5s; }
      .section__index .section__index__div2 .section__index__article4 .section__index__article4--parrafo {
        margin: 10px 0 0 0;
        line-height: 2; }
      .section__index .section__index__div2 .section__index__article4 .section__index__article4--titulo {
        font-size: 25px; }
      .section__index .section__index__div2 .section__index__article4 .fa-assistive-listening-systems {
        font-size: 40px;
        margin: 0 0 2rem 0; }
    .section__index .section__index__div2 .section__index__article5 {
      width: 300px;
      text-align: center;
      border-radius: 15px;
      height: 250px;
      margin: 4rem 0;
      padding: 10px;
      box-shadow: 0px 0px 15px 2px #3f3f3f;
      margin: 4rem 4rem; }
      .section__index .section__index__div2 .section__index__article5:hover {
        background-color: #121212;
        color: white;
        width: 320px;
        height: 270px;
        transition: .5s; }
      .section__index .section__index__div2 .section__index__article5 .fa-map-marked-alt {
        font-size: 40px;
        margin: 0 0 2rem 0; }
      .section__index .section__index__div2 .section__index__article5 .section__index__article5--titulo {
        font-size: 25px; }
      .section__index .section__index__div2 .section__index__article5 .section__index__article5--lista {
        text-align: left;
        margin: 20px 0 0 2rem; }
      .section__index .section__index__div2 .section__index__article5 .section__index__article5--lista--li {
        margin: 5px 0 0 0; }
    .section__index .section__index__div2 .section__index__article6 {
      width: 300px;
      text-align: center;
      border-radius: 15px;
      height: 250px;
      margin: 4rem 0;
      padding: 10px;
      box-shadow: 0px 0px 15px 2px #3f3f3f; }
      .section__index .section__index__div2 .section__index__article6:hover {
        background-color: #121212;
        color: white;
        width: 320px;
        height: 270px;
        transition: .5s; }
      .section__index .section__index__div2 .section__index__article6 .section__index__article6--titulo {
        font-size: 25px; }
      .section__index .section__index__div2 .section__index__article6 .fa-handshake {
        font-size: 40px;
        margin: 0 0 2rem 0; }
      .section__index .section__index__div2 .section__index__article6 .section__index__article6--lista {
        text-align: left;
        margin: 20px 0 0 2rem; }
  .section__index .section__index__article7 {
    background-color: #0C9EF7;
    color: #0a46b6;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 0 0; }
    .section__index .section__index__article7 .section__index__article7--titulo {
      font-size: 40px;
      margin: 0 0 80px 0; }
      .section__index .section__index__article7 .section__index__article7--titulo:hover {
        color: white;
        transition: 1s; }
    .section__index .section__index__article7 .section__index__article7--enlace {
      font-size: 30px;
      color: #0a46b6; }
      .section__index .section__index__article7 .section__index__article7--enlace:hover {
        color: white;
        transition: 1s; }

.section__pacientes {
  display: grid;
  justify-content: center; }
  .section__pacientes .section__pacientes--titulo {
    grid-column: 1/9;
    grid-row: 1/2;
    justify-self: center;
    color: black;
    font-size: 40px;
    margin: 30px 0; }
  .section__pacientes .section__pacientes__art1 {
    display: grid;
    grid-column: 1/9;
    grid-row: 2/4;
    padding: 10px;
    box-shadow: 0px 0px 15px 2px #3f3f3f;
    background-color: #0C9EF7;
    color: black;
    border-radius: 10px; }
    .section__pacientes .section__pacientes__art1 .section__pacientes__art1--titulo {
      grid-column: 1/5;
      grid-row: 2/4;
      align-self: center;
      margin-left: 100px;
      font-size: 30px;
      width: 400px;
      color: #000000; }
    .section__pacientes .section__pacientes__art1 .section__pacientes__art1--lista {
      grid-column: 5/9;
      grid-row: 2/4;
      align-self: center; }
  .section__pacientes .section__pacientes__art2 {
    display: grid;
    grid-column: 1/9;
    grid-row: 4/6;
    box-shadow: 0px 0px 15px 2px #3f3f3f;
    background-color: #0C9EF7;
    color: black;
    margin-top: 30px;
    border-radius: 10px; }
    .section__pacientes .section__pacientes__art2 .section__pacientes__art2--img {
      width: 300px; }
    .section__pacientes .section__pacientes__art2 .section__pacientes__art2--div {
      grid-column: 1/5;
      grid-row: 4/6;
      width: 500px; }
    .section__pacientes .section__pacientes__art2 .section__pacientes__art2--div--titulo {
      font-size: 50px;
      margin-left: 200px;
      color: #000000; }
    .section__pacientes .section__pacientes__art2 .section__pacientes__art2--div--subtitulo {
      margin-left: 80px;
      margin-top: 15px; }
    .section__pacientes .section__pacientes__art2 .section__pacientes__art2--div--parrafo {
      margin-left: 50px;
      margin-top: 30px;
      margin-bottom: 20px;
      line-height: 2; }
    .section__pacientes .section__pacientes__art2 .section__pacientes__art2--img {
      width: 400px;
      height: 100%;
      grid-column: 5/9;
      grid-row: 4/6;
      margin-left: 20px;
      border-radius: 10px; }
    .section__pacientes .section__pacientes__art2 .section__pacientes__art2--div--lista {
      list-style: none;
      color: #862424; }
    .section__pacientes .section__pacientes__art2 .section__pacientes__art2--div--lista li {
      margin-bottom: 20px;
      width: 400px;
      margin-left: 50px;
      color: black;
      line-height: 2; }
  .section__pacientes .section__pacientes__art3 {
    grid-column: 1/9;
    grid-row: 6/8;
    text-align: center;
    margin-top: 30px;
    box-shadow: 0px 0px 15px 2px #3f3f3f;
    background-color: #0C9EF7;
    color: black;
    margin-bottom: 20px;
    border-radius: 10px; }
    .section__pacientes .section__pacientes__art3 .section__pacientes__art3--titulo {
      font-size: 30px;
      color: #000000;
      margin-top: 10px; }
    .section__pacientes .section__pacientes__art3 .section__pacientes__art3--parrafo {
      margin-top: 10px;
      width: 700px;
      margin-left: 60px;
      margin-bottom: 30px;
      line-height: 2; }

.main__fono {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 200px 200px;
  width: 100%;
  margin-bottom: 100px; }
  .main__fono .main__fono__div {
    grid-column: 1/6;
    color: black;
    grid-row: 1/3;
    width: 702px;
    height: 440px;
    box-shadow: 0px 0px 15px 2px #3f3f3f;
    margin: 10px 0 0 20px;
    border-radius: 20px;
    background-color: #0C9EF7;
    width: 650px; }
    .main__fono .main__fono__div .main__fono__div--titulo {
      margin-top: 60px;
      text-align: center;
      color: #000000;
      font-size: 40px; }
    .main__fono .main__fono__div .main__fono__div--parrafo {
      font-family: 'Open Sans', sans-serif;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 20px;
      line-height: 2; }
  .main__fono .main__fono__img {
    grid-column: 6/11;
    grid-row: 1/3;
    width: 600px;
    margin-top: 20px;
    margin-left: 20px; }

.section__fono {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  grid-template-rows: 200px 200px;
  width: 100%; }
  .section__fono .section__fono__div {
    grid-column: 1/6;
    grid-row: 1/3;
    color: black; }
    .section__fono .section__fono__div .section__fono__div--titulo {
      text-align: center;
      margin-top: 60px;
      font-size: 35px; }
    .section__fono .section__fono__div .section__fono__div--parrafo {
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 50px;
      text-align: right;
      line-height: 2; }
  .section__fono .section__fono__div2 {
    grid-column: 6/11;
    grid-row: 1/3;
    color: black;
    box-shadow: 0px 0px 15px 2px #3f3f3f;
    background-color: #0C9EF7;
    margin: 10px 10px;
    padding: 0px 0 0px 10px;
    border-radius: 10px;
    width: 650px;
    height: 470px; }
    .section__fono .section__fono__div2 .section__fono__div2--titulo {
      color: #000000;
      margin-top: 15px; }
    .section__fono .section__fono__div2 .section__fono__div2--parrafo {
      margin-bottom: 10px;
      margin-top: 5px;
      line-height: 2; }
  .section__fono .section__fono__div3 {
    grid-column: 1/11;
    grid-row: 3/5;
    color: black;
    text-align: center;
    padding-bottom: 100px;
    margin: 130px 0 0 0;
    line-height: 2;
    width: 1300px; }
    .section__fono .section__fono__div3 .section__fono__div3--titulo {
      margin-top: 60px;
      margin-bottom: 30px;
      font-size: 30px; }
    .section__fono .section__fono__div3 .section__fono__div3--parrafo {
      margin-top: 30px;
      padding-left: 80px;
      padding-right: 80px;
      font-size: 18px; }

@media (max-width: 1024px) {
  .main__fono {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 200px 200px;
    width: 100%;
    margin-bottom: 100px; }
    .main__fono .main__fono__div {
      grid-column: 1/11;
      color: black;
      grid-row: 1/3;
      width: 702px;
      height: 440px;
      box-shadow: 0px 0px 15px 2px #3f3f3f;
      border-radius: 20px;
      background-color: #0C9EF7;
      width: 2000px;
      margin: 4rem 0 3rem 8rem; }
      .main__fono .main__fono__div .main__fono__div--titulo {
        margin-top: 60px;
        text-align: center;
        font-family: 'Kaushan Script', cursive;
        color: #000000;
        font-size: 40px; }
      .main__fono .main__fono__div .main__fono__div--parrafo {
        font-family: 'Open Sans', sans-serif;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 50px; }
    .main__fono .main__fono__img {
      grid-column: 1/11;
      grid-row: 3/5;
      width: 800px;
      margin: 8rem 0 1rem 7rem; }

  .section__fono {
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 200px 200px;
    width: 100%; }
    .section__fono .section__fono__div {
      grid-column: 1/11;
      grid-row: 1/3;
      color: black;
      margin: 0 0 6rem 4rem;
      width: 800px; }
      .section__fono .section__fono__div .section__fono__div--titulo {
        text-align: center;
        margin-top: 60px;
        font-size: 35px; }
      .section__fono .section__fono__div .section__fono__div--parrafo {
        padding-left: 50px;
        padding-right: 50px;
        text-align: center;
        font-size: 20px; }
    .section__fono .section__fono__div2 {
      grid-column: 1/11;
      grid-row: 3/5;
      color: black;
      box-shadow: 0px 0px 15px 2px #3f3f3f;
      background-color: #0C9EF7;
      margin: 4rem 0 0 6rem;
      padding: 0px 0 0px 10px;
      border-radius: 10px;
      width: 800px;
      height: 470px; }
      .section__fono .section__fono__div2 .section__fono__div2--titulo {
        color: #000000; }
      .section__fono .section__fono__div2 .section__fono__div2--parrafo {
        margin-bottom: 10px;
        margin-top: 10px; }
    .section__fono .section__fono__div3 {
      grid-column: 1/11;
      grid-row: 5/8;
      color: black;
      text-align: center;
      padding-bottom: 100px;
      margin: 4rem 0 0 4rem;
      width: 900px; }
      .section__fono .section__fono__div3 .section__fono__div3--titulo {
        margin-top: 60px;
        margin-bottom: 30px;
        font-size: 30px; }
      .section__fono .section__fono__div3 .section__fono__div3--parrafo {
        margin-top: 80px;
        padding-left: 80px;
        padding-right: 80px;
        font-size: 18px; } }
.section__cobertura {
  display: grid;
  color: black;
  height: 1000px; }
  .section__cobertura .section__cobertura__div {
    grid-column: 1/5;
    grid-row: 1/6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
    .section__cobertura .section__cobertura__div .section__cobertura__div--titulo {
      font-size: 35px; }
    .section__cobertura .section__cobertura__div .section__cobertura__div--parrafo {
      width: 450px;
      font-weight: bold;
      margin: 0 0 0 10px; }
  .section__cobertura .article__cobertura {
    background-color: #121212;
    grid-column: 5/9;
    grid-row: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .section__cobertura .article__cobertura .article__cobertura--titulo {
      font-size: 22px;
      color: #ffffff; }
    .section__cobertura .article__cobertura .article__cobertura--table {
      margin-top: 70px;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%; }
      .section__cobertura .article__cobertura .article__cobertura--table .article__cobertura--table--tr {
        background-color: #eeeeee;
        color: black;
        transition: all; }
        .section__cobertura .article__cobertura .article__cobertura--table .article__cobertura--table--tr .article__cobertura--table--td {
          border: 2px solid #0C5CED;
          text-align: left;
          padding: 8px; }
      .section__cobertura .article__cobertura .article__cobertura--table .article__cobertura--table--tr:nth-child(even) {
        background-color: #d1d1d1;
        color: black; }
      .section__cobertura .article__cobertura .article__cobertura--table .article__cobertura--table--tr:hover {
        background-color: #0C5CED;
        font-weight: bold; }
  .section__cobertura .article__cobertura2 {
    background-color: #121212;
    grid-column: 5/9;
    grid-row: 3/6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .section__cobertura .article__cobertura2 .article__cobertura2--titulo {
      color: #ffffff;
      font-size: 22px; }
    .section__cobertura .article__cobertura2 .article__cobertura2--parrafo {
      color: white; }
    .section__cobertura .article__cobertura2 .article__cobertura--table {
      margin-top: 70px;
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 80%; }
      .section__cobertura .article__cobertura2 .article__cobertura--table .article__cobertura--table--tr {
        background-color: #eeeeee;
        color: black;
        transition: all; }
        .section__cobertura .article__cobertura2 .article__cobertura--table .article__cobertura--table--tr .article__cobertura--table--td {
          border: 2px solid #0C5CED;
          text-align: left;
          padding: 8px; }
      .section__cobertura .article__cobertura2 .article__cobertura--table .article__cobertura--table--tr:nth-child(even) {
        background-color: #d1d1d1;
        color: black; }
      .section__cobertura .article__cobertura2 .article__cobertura--table .article__cobertura--table--tr:hover {
        background-color: #0C5CED;
        font-weight: 700; }

@media (max-width: 1024px) {
  .section__cobertura {
    display: grid;
    color: black;
    height: 1000px; }
    .section__cobertura .section__cobertura__div {
      grid-column: 1/5;
      grid-row: 1/6;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly; }
      .section__cobertura .section__cobertura__div .section__cobertura__div--titulo {
        font-size: 35px; }
      .section__cobertura .section__cobertura__div .section__cobertura__div--parrafo {
        width: 450px;
        font-weight: bold;
        margin: 0 0 0 10px; }
    .section__cobertura .article__cobertura {
      background-color: #121212;
      grid-column: 5/9;
      grid-row: 1/3;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .section__cobertura .article__cobertura .article__cobertura--titulo {
        font-size: 22px;
        color: #ffffff; }
      .section__cobertura .article__cobertura .article__cobertura--table {
        margin-top: 70px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%; }
        .section__cobertura .article__cobertura .article__cobertura--table .article__cobertura--table--tr {
          background-color: #eeeeee;
          color: black;
          transition: all; }
          .section__cobertura .article__cobertura .article__cobertura--table .article__cobertura--table--tr .article__cobertura--table--td {
            border: 2px solid #0C5CED;
            text-align: left;
            padding: 8px; }
        .section__cobertura .article__cobertura .article__cobertura--table .article__cobertura--table--tr:nth-child(even) {
          background-color: #d1d1d1;
          color: black; }
        .section__cobertura .article__cobertura .article__cobertura--table .article__cobertura--table--tr:hover {
          background-color: #0C5CED;
          font-weight: bold; }
    .section__cobertura .article__cobertura2 {
      background-color: #121212;
      grid-column: 5/9;
      grid-row: 3/6;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .section__cobertura .article__cobertura2 .article__cobertura2--titulo {
        color: #ffffff;
        font-size: 22px; }
      .section__cobertura .article__cobertura2 .article__cobertura2--parrafo {
        color: white; }
      .section__cobertura .article__cobertura2 .article__cobertura--table {
        margin-top: 70px;
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%; }
        .section__cobertura .article__cobertura2 .article__cobertura--table .article__cobertura--table--tr {
          background-color: #eeeeee;
          color: black;
          transition: all; }
          .section__cobertura .article__cobertura2 .article__cobertura--table .article__cobertura--table--tr .article__cobertura--table--td {
            border: 2px solid #0C5CED;
            text-align: left;
            padding: 8px; }
        .section__cobertura .article__cobertura2 .article__cobertura--table .article__cobertura--table--tr:nth-child(even) {
          background-color: #d1d1d1;
          color: black; }
        .section__cobertura .article__cobertura2 .article__cobertura--table .article__cobertura--table--tr:hover {
          background-color: #0C5CED;
          font-weight: 700; } }
.main__contacto {
  display: grid; }
  .main__contacto .contacto__form {
    display: flex;
    flex-direction: column;
    grid-column: 1/6;
    grid-row: 1/9;
    width: 500px;
    border-radius: 10px;
    padding: 40px 20px;
    background-color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 80px 0 0 50px; }
    .main__contacto .contacto__form .contacto__form--select {
      border: none; }
    .main__contacto .contacto__form .contacto__form--label {
      color: #0C9EF7; }
    .main__contacto .contacto__form .contacto__form--input, .main__contacto .contacto__form .contacto__form--textarea {
      margin: 10px 0;
      padding: 8px;
      border: none;
      border-radius: 15px;
      border-bottom: 1px solid #BFB063; }
    .main__contacto .contacto__form .contacto__form--input:focus, .main__contacto .contacto__form .contacto__form--textarea:focus {
      outline: none; }
    .main__contacto .contacto__form .contacto__form--textarea {
      font-family: 'Open Sans', sans-serif; }
  .main__contacto .main__contacto__div {
    grid-column: 6/11;
    grid-row: 1/9;
    text-align: center;
    box-shadow: 0px 0px 15px 2px #3f3f3f;
    background-color: #0C9EF7;
    color: black;
    border-radius: 10px;
    margin-top: 130px;
    margin-bottom: auto;
    height: 500px;
    width: 600px; }
    .main__contacto .main__contacto__div .main__contacto__div--titulo {
      margin-bottom: 20px;
      margin-top: 10px;
      color: #000000;
      font-size: 35px; }
    .main__contacto .main__contacto__div .main__contacto__div--parrafo {
      margin-bottom: 20px;
      width: 500px;
      text-align: left;
      margin: 3rem 0 1rem 3rem;
      line-height: 2; }
    .main__contacto .main__contacto__div .main__contacto__div--lista {
      text-align: left;
      margin: 3rem 0 3rem 4rem; }

.section__contacto .section__contacto__iframe {
  grid-column: 1/11;
  grid-row: 9/14;
  margin: 4rem 0 2rem 4rem; }

@media (max-width: 1024px) {
  .main__contacto {
    display: grid; }
    .main__contacto .contacto__form {
      display: flex;
      flex-direction: column;
      grid-column: 1/6;
      grid-row: 1/9;
      width: 500px;
      border-radius: 10px;
      padding: 40px 20px;
      background-color: #323232;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      margin: 80px 0 0 50px; }
      .main__contacto .contacto__form .contacto__form--select {
        border: none; }
      .main__contacto .contacto__form .contacto__form--label {
        color: #0C9EF7; }
      .main__contacto .contacto__form .contacto__form--input, .main__contacto .contacto__form .contacto__form--textarea {
        margin: 10px 0;
        padding: 8px;
        border: none;
        border-radius: 15px;
        border-bottom: 1px solid #BFB063; }
      .main__contacto .contacto__form .contacto__form--input:focus, .main__contacto .contacto__form .contacto__form--textarea:focus {
        outline: none; }
      .main__contacto .contacto__form .contacto__form--textarea {
        font-family: 'Open Sans', sans-serif; }
    .main__contacto .main__contacto__div {
      grid-column: 6/11;
      grid-row: 1/9;
      text-align: center;
      box-shadow: 0px 0px 15px 2px #3f3f3f;
      background-color: #0C9EF7;
      color: black;
      border-radius: 10px;
      margin: 5rem 0 auto 0;
      height: 720px;
      width: 400px; }
      .main__contacto .main__contacto__div .main__contacto__div--titulo {
        margin-bottom: 20px;
        margin-top: 10px;
        color: #000000;
        font-size: 50px; }
      .main__contacto .main__contacto__div .main__contacto__div--parrafo {
        margin-bottom: 20px;
        width: 300px;
        text-align: left;
        margin: 3rem 0 1rem 1rem;
        line-height: 2;
        font-size: 20px; }
      .main__contacto .main__contacto__div .main__contacto__div--lista {
        text-align: left;
        margin: 3rem 0 3rem 4rem;
        font-size: 20px; }

  .section__contacto .section__contacto__iframe {
    grid-column: 1/11;
    grid-row: 9/14;
    margin: 4rem 0 2rem 4rem; } }
.error__conteiner {
  display: flex;
  flex-direction: row; }
  .error__conteiner .error__texto {
    width: 60%;
    height: 100vh;
    background-color: #093b99;
    color: white;
    -webkit-box-shadow: inset 2px 0px 35px 0px #3b4353;
    box-shadow: inset 2px 0px 35px 0px #3b4353; }
    .error__conteiner .error__texto .error__404 {
      margin: 250px 0 0 0;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .error__conteiner .error__texto .error__404 .fa-binoculars {
        font-size: 100px; }
      .error__conteiner .error__texto .error__404 .error__titulo {
        font-size: 50px;
        font-family: 'Acme', sans-serif; }
  .error__conteiner .error_img {
    width: 40%;
    height: 100vh;
    color: white;
    background-image: url(../media/error-min.jpg);
    background-size: cover;
    background-position: center center; }
    .error__conteiner .error_img .error__img--bkg {
      background-color: #3b3b3bc9;
      width: 400px;
      border-radius: 20px;
      padding: 20px;
      margin: 230px 0 0 80px; }
      .error__conteiner .error_img .error__img--bkg .error__titulo {
        font-family: 'Acme', sans-serif;
        font-size: 40px;
        margin: 10px 0 10px 80px; }
      .error__conteiner .error_img .error__img--bkg .error__parrafo {
        line-height: 2;
        font-family: 'Acme', sans-serif; }

/*# sourceMappingURL=main.css.map */
